<!--
  File: About me page
  Author: Nahia Akter
  StudentID: 301106956
  Date: Oct 11, 2020
-->
<!-- Main content-->
  <main class="container">
    <div class="jumbotron text-center">
      <h1>About Me</h1>
    </div>
<div class="container">
<p>My Name is Nahia Akter and I am from Bangladesh. I have completed my master’s in pharmacy from University of Dhaka. I have 10 years of working experience in different fields. Software Engineering is a new sector for me and there are so many things to learn. I’m always excited to learn new things and accept new challenges.
<img src="Assets/images/Nahia Akter.jpg" alt="personal picture" style="float: right"/>
</div>
<div class="container">
<p>Some of my favorite activities are:</p>
<ul>
<li>Reading</li>
<li>Travelling</li>
<li>Cooking</li>
<li>Listening music</li>
</ul>
<!--Resume-->
<a button type="submit" class="btn btn-primary" href="Assets/files/Resume of Nahia Akter.pdf">Resume</button></a>
</div>
</body>
</main>








    
