 <!--
  File: Project page
  Author: Nahia Akter
  StudentID: 301106956
  Date: Oct 11, 2020
-->
 <!--Main Body-->
    <main class="container">
    <div class="jumbotron text-center">
      <h1>Projects</h1>
    </div>
    <!--code for colomn-->
        <div class="container">
          <div class="row">
              <div class="col-sm-4">
                <h3>Slot Machine</h3>
                <p>TypeScript</p>
                <img src="/Assets/images/Project1.PNG" alt="Slot Machine" style="width:90%">
              </div>
              <div class="col-sm-4">
                <h3>Roll the Dies</h3>
                <p>JavaScript</p>
                <img src="/Assets/images/Project2.PNG" alt="Slot Machine" style="width:90%">
              </div>
              <div class="col-sm-4">
                <h3>Music Player</h3>
                <p>C# programming</p>
                <img src="/Assets/images/Project3.PNG" alt="Slot Machine" style="width:100%">
              </div>
          </div>
        </div>
    </main>
    

