<!--
  File: Service page
  Author: Nahia Akter
  StudentID: 301106956
  Date: Oct 11, 2020
-->
<!--Main Body-->
    <main class="container">
    <div class="jumbotron text-center">
      <h1>Services</h1>
    </div>
<body>
<!-- Services -->
<div class="row text-center services">
    <div class="col-lg-4 col-md-4 col-sm-12">
    <i class="fas fa-5x fa-laptop-code"></i>
    <p class="h6">Programming</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-globe"></i>
        <p class="h6">Web Development</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <i class="fas fa-5x fa-tasks"></i>
        <p class="h6">Software Engineering</p>
    </div>
</div>
<ul>
<li>C#, Python</li>
<li>HTML5, CSS3, JavaScript, TypeScript, NodeJs</li>
<li>Linux</li>
<li>Oracle SQL</li>
</ul>
<br>
<!-- Contant Button -->
<div class="row justify-content-center">
    <a class="btn btn-primary" href="/contact" role="button">Contact Me</a>
</div>
</div>
</body>