/* 
File: app.css
Author: Nahia Akter
StudentID: 301106956
Date: Oct 11, 2020
*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(/Assets/images/background4.jpg);
}

/* Generic */
.jumbotron {
    margin-bottom: 0 !important;
    background-image: url(/Assets/images/background5.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-position: fixed;
}

 
.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

